[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
pylint = "*"
isort = "*"
mypy = "*"
pytest = "*"

[packages]
requests = "*"
types-requests = "*"

[requires]
python_version = "3.11.5"